.kumaran-button {
    background-color: rgb(239, 53, 20);
    color: aliceblue;
    border: none;
    height: 35px;
    width: 90px;
    border-radius: 2px;
    cursor: pointer;
}

.join-button {
    background-color: white;
    border-color: blue;
    color: blue;
    border-width: 1px;
    border-radius: 2px;
    height: 30px;
    width: 50px;
    margin-right: 8px;
}

.python-button {
    background-color: blue;
    color: white;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15;
}