.video-title {
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
}
.view-count {
    color: grey;
    font-family: arial;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.channel-name {
    font-family: arial;
    font-size: 14px;
    margin-bottom: 18px;
    color: gray;
}
.video-description{
    font-family: arial;
    font-size: 14px;
    color: gray;
    line-height: 20px;
    width: 300px;
}
.shout-out{
    cursor: pointer;
}
.shout-out:hover{
    text-decoration: underline;
}
.video-design{
    font-family: arial;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: rgb(227, 65, 64);
    margin-right: 8px;
    padding: 18px;
}